<app-navbar></app-navbar>
<div class="itccontainer">
  <h2>Lägg till plagg</h2>
  <div class="row">
    <div class="col">
      <!--    <img [src]="url" height="200"> <br/>-->
      <!--    <input type='file' (change)="onSelectFile($event)"></div>-->
      bild
    </div>

    <div class="row">
      <div class="col">
        huvudkategori
      </div>
      <div class="col">
        :)
      </div>
    </div>
    <div class="row">
      <div class="col">
        underkategori
      </div>
    </div>
    <div class="row">
      <div class="col">
        färg
      </div>
    </div>
    <div class="row">
      <div class="col">
        tema
      </div>
    </div>
    <div class="row">
      <div class="col">
        nyckelord
      </div>
    </div>
  </div>
</div>
