.garmentcard .addbtn {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
}

.garmentcard:hover .addbtn {
  visibility: visible;
}

.addbtn:hover {
  color: rgba(0, 0, 0, 0.9) !important;
}
