<app-navbar></app-navbar>
<div class="itccontainer">
  <h2 class="m-5">Välj outfit</h2>
  <form (ngSubmit)="onClear()" [formGroup]="form">
    <div class="row justify-content-center d-flex">
      <div class="col-3">
        <button type="button" class="itcbutton" (click)="showMainCategories=!showMainCategories">Huvudkategori</button>
        <div *ngIf="showMainCategories">
          <div *ngFor="let m of allMainCategories" class="form-check d-flex">
            <input class="form-check-input" type="checkbox" value="{{m.id}}" id="{{m.id}}"
                   (change)="onAttributeChange($event, 'm')" [formControlName]="'maincategory'">
            <label class="form-check-label" for="{{m.id}}">
              {{m.name}}
            </label>
          </div>
        </div>
      </div>
      <div class="col-3">
        <button type="button" class="itcbutton" (click)="showUnderCategories=!showUnderCategories">Underkategori
        </button>
        <div *ngIf="showUnderCategories">
          <div *ngFor="let u of underCategoryOptionsToShow" class="form-check d-flex">
            <input class="form-check-input" type="checkbox" value="{{u.id}}" id="{{u.id}}"
                   (change)="onAttributeChange($event, 'u')" [formControlName]="'undercategory'">
            <label class="form-check-label" for="{{u.id}}">
              {{u.name}}
            </label>
          </div>
        </div>

      </div>
      <div class="col-3">
        <button type="button" class="itcbutton" (click)="showColours=!showColours">Färg</button>
        <div *ngIf="showColours">
          <div *ngFor="let c of allColours" class="form-check d-flex">
            <input class="form-check-input" type="checkbox" value="{{c.id}}" id="{{c.id}}"
                   (click)="onAttributeChange($event, 'c')" [formControlName]="'colour'">
            <label class="form-check-label" for="{{c.id}}">
              {{c.name}}
            </label>
          </div>
        </div>
      </div>
      <div class="col-3">
        <button type="button" class="itcbutton" (click)="showThemes=!showThemes">Tema</button>
        <div *ngIf="showThemes">
          <div *ngFor="let t of allThemes" class="form-check d-flex">
            <input class="form-check-input" type="checkbox" value="{{t.id}}" id="{{t.id}}"
                   (click)="onAttributeChange($event, 't')" [formControlName]="'theme'">
            <label class="form-check-label" for="{{t.id}}">
              {{t.name}}
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center d-flex">
      <button type="submit" class="itcbutton">Rensa sökningar</button>
    </div>
  </form>
  <div
    *ngIf="(garmentsToShow.length<1) && !(mCategoryIDToShow.length || uCategoryIDToShow.length || colourIDToShow.length || themeIDToShow.length)">
    <app-garment-card (chosenGarment)="addGarmentToChosenGarments(garment)" *ngFor="let garment of allGarments" [garment]="garment"></app-garment-card>
  </div>
  <div
    *ngIf="(garmentsToShow.length<1) && (mCategoryIDToShow.length || uCategoryIDToShow.length || colourIDToShow.length || themeIDToShow.length)">
    <div class="m-5">Inga sökresultat.</div>
  </div>
  <div *ngIf="garmentsToShow.length>0">
    <app-garment-card *ngFor="let garment of garmentsToShow" [garment]="garment"></app-garment-card>
  </div>
</div>
<div class="chosenoutfitcontainer">
  <div *ngIf="showChosenOutfit">
    <app-chosen-outfit (showChosenOutfit)="showChosenOutfit=false" [chosenGarments]="chosenGarments"></app-chosen-outfit>
  </div>
  <div class="chosenoutfitcontainercontracted" *ngIf="!showChosenOutfit" (click)="showChosenOutfit=true">
  ( {{chosenGarments.length}} ) <i class="fas fa-chevron-right"></i>
  </div>
</div>

