<div class="garmentcard">
  <img [src]="image" alt="image">
  <div class="centered" *ngIf="showRemoveQuestion">
    <div class="row">
      <div class="col">Är du säker?</div>
    </div>
    <button type="button" class="confirmbtn itcbutton" (click)="removeGarment()">Ja</button>
    <button type="button" class="confirmbtn itcbutton" (click)="showRemoveQuestion=false">Avbryt</button>
  </div>
  <button type="button" class="editbtn" (click)="editGarment(garment)"><i class="fas fa-pen-square fa-2x"></i></button>
  <button type="button" class="removebtn" (click)="showRemoveQuestion=true"><i class="fas fa-minus-circle fa-2x"></i>
  </button>
</div>
