.garmentcard .editbtn {
  visibility: hidden;
  position: absolute;
  bottom: 20px;
  right: 60px;
  border: none;
  cursor: pointer;
}

.garmentcard .removebtn {
  visibility: hidden;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: none;
  cursor: pointer;
}

.garmentcard:hover .editbtn {
  visibility: visible;
}

.garmentcard:hover .removebtn {
  visibility: visible;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  padding: 20px;
}

.confirmbtn {
  margin: 10px 5px 5px;
}
