
.chosenoutfitcontainerexpanded {
  background-color: #f7f7f7;
  padding: 20px;
  border-bottom-right-radius: 20px;
}

.chosenoutfitcontainercontracted {
  padding-right: 35px;
}

.nogarmentschosen {
  border-bottom-right-radius: 0;
}
